 .video-container {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: auto;
     background-color: #ffffff;
     overflow: hidden;
     position: relative;
     padding: 20px;
 }


 video {
     width: 100%;
     height: auto;
     border-radius: 10px;
     object-fit: cover;
 }

 video:hover {
     box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
     transition: box-shadow 0.3s ease-in-out;
 }


 video::poster {
     object-fit: cover;
 }