.product-details {
    flex: 1;
    padding: 0 20px;
    width: 50%;
  }
  
  .price-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .product-titel{
    font-size: 28px;
    line-height: 33.6px;
    color:#000;


  }

  
  .price {
    font-size: 24px;
    color: red;
  }
  
  .original-price {
    text-decoration: line-through;
    color: grey;
  }
  
  .discount {
    background-color: orange;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .countdown-timer {
    background-color: #f8f8f8;
    padding: 10px;
    color: red;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .color-selector, .size-selector {
    margin-top: 10px;
  }
  
  .color-option {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  
  .color-option.beige {
    background-color: beige;
  }
  
  .color-option.black {
    background-color: black;
  }
  
  .color-option.blue {
    background-color: blue;
  }
  
  .size-option {
    padding: 8px 12px;
    margin-right: 5px;
    border: 1px solid #ccc;
  }
  
  .size-option.selected {
    background-color: black;
    color: white;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-button {
    background-color: #eee;
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .quantity-value {
    padding: 0 10px;
  }
  
  .find-size {
    margin-top: 10px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .best-seller{
    float: left;
    margin-top: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    line-height: 29px;
}

.product-status-content {
  margin-left: 15px;
  font-size: 20px;
  color: red;
  animation: tf-ani-flash 2s infinite;
}

@keyframes tf-ani-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.selling-fast{
  margin-top: 0px;
float: left;
}



 
@media (max-width: 768px) {
  .product-details{
     width:100%;
     flex: 0;
     float: left;
    }
  }